<div class="center">
<h1>Teacher´s Answer</h1>


<p>Your question: <%= @question %></p>
<p>Teacher´s answer: <%= @answer %></p>

<%= link_to "Home", root_path %>
<br>
<%= link_to "Ask a new question", ask_path %>
</div>
